*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x : hidden;
}

header{
    height: 200px;
    padding: 20px 0;
}

.logo {
    height: 50px;
    width: 25%;
   }

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.menu{
    padding-top: 30px;
    width: 75%;
    text-align: right;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 4%;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras img{
    position: absolute;
    right: 40%;
}

.extras{
    position: absolute;
    bottom: -550px;
    right: -350px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: #FFA500;
}

.social-media {
    position: absolute;
    right: 400px;
    top: 80px;
}

.social-media img{
     max-width: 480px;
     height: auto;
     position: static;
     display: block;
     margin: 20px auto; 
}

.texto-sobre {
      margin-top: -60px;
}

.texto-sobre h1{
     font-size: 60px;
}
.texto-sobre p{
    position: relative;
    margin: 20px 0;
    color: black;
    font-size: 45px;
    font-weight: bold;
    max-width: 800px;
}
.texto-sobre button{
    border: 0px;
    background-color: #FFA500;
    color: rgb(0, 0, 0);
    border-radius: 500px;
    width: 200px;
    height: 35px;
    cursor: pointer;
}
